/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('//fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F8F0E3;
}

#header {
    width: 100%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 300;
    position: fixed;
    color: #f8f8f8;
    background-color: #5576D1;
}

#header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 45px;
    background-color: #5576D1;
    transform: skewY(0.75deg);

    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
                
    z-index: -1;
}

#navigation {
    display: flex;
}

#navigation a {
    text-decoration: none;
    color: #F8F0E3;
}

#navigation div {
    margin-left: 55px;
}

#navigation div:hover {
    cursor: pointer;
    color: #575757;
}

#navprojects {
    color: #272727;
}

#content {
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}